
.logo img {
    width: 250px;
    float: left;
    padding: 8px;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

header {
    width: 100%;
    clear: both;
    content: '';
    display: table;
    background-color: #2f0069;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 40px;
    padding: 25px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #c7ae6a;
}